* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
}

.container{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    overflow: hidden;
}

.titlename{
    display: block;
    width: 100%;
    max-width: 185px;
    padding-top: 1%;
    margin-left: 42%;
}

.titleorg{
    width: 100%;
    max-width: 362px;
    padding-top: 4%;
    margin-left: 46%;
}

.mainLogo{
    width: 100%;
    max-width: 209px;
    padding-top: 1%;
    margin-left: 18%;
    position: absolute;
}
.opening{
    color: #cf6d17;
    font-weight: 300;
    font-size: 20px;
    padding-top: 6%;
    margin-left: 24%;
}

.offerings{
    color:  #cf6d17;;
    font-weight: 300;
    font-size: 20px;
    padding-top: 1%;
    margin-left: 23%;
}

.locate{
    color:  #cf6d17;;
    font-weight: 300;
    font-size: 20px;
    padding-top: 1%;
    margin-left: 25%;
}

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    margin-left: 8%;
    font-weight: 600;
    font-size: 20px;
    color:  #cf6d17;;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
    color:  #cf6d17;;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color:  #cf6d17;;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

.buttons{
    padding-top: 1%;
}

.locationpng{
    width: 3%;
    margin-right: 10px;
}